################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MvcCachingSample/.vs
/MvcCachingSample/MvcCachingSample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MvcCachingSample/MvcCachingSample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MvcCachingSample/MvcCachingSample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MvcCachingSample/MvcCachingSample/obj/Debug/TempPE
/MvcCachingSample/MvcCachingSample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MvcCachingSample/MvcCachingSample/obj/Debug/MvcCachingSample.csproj.FileListAbsolute.txt
/MvcCachingSample/MvcCachingSample/obj/Debug/MvcCachingSample.csprojResolveAssemblyReference.cache
/MvcCachingSample/MvcCachingSample/obj/Debug/MvcCachingSample.dll
/MvcCachingSample/MvcCachingSample/obj/Debug/MvcCachingSample.pdb
/MvcCachingSample/MvcCachingSample/Properties/PublishProfiles
/MvcCachingSample/MvcCachingSample/obj
/MvcCachingSample/MvcCachingSample/bin/MvcCachingSample.dll
/MvcCachingSample/MvcCachingSample/bin/MvcCachingSample.pdb
/MvcCachingSample/MvcCachingSample/MvcCachingSample.csproj.user
