@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div>
            <ul>
                <li class="col-md-4"><a href="#">Monitoring</a></li>
                <li class="col-md-4"><a href="#">My Jobs</a></li>
                <li class="col-md-4"><a href="#">Admin</a></li>
            </ul>

        </div>
    </div>
    <hr />
    <div class="col-md-6 col-lg-offset-1">
        <p>My dynamic Content</p>
    </div>
</div>