@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Choose Process</h2>
        <ul>
            <li><a href="~/IDC/dashboard">IDC</a></li>
            <li><a href="~/Progen/dashboard">Progen</a></li>
            <li><a href="~/Timesheet/dashboard">Timesheet</a></li>
        </ul>

    </div>
</div>